.main {
  height: 90%;
  width: 100%;
  display: flex;
}

.main_image {
  position: relative;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.main_description {
  background: linear-gradient(#000, navy);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_description h1 {
  color: #fff;
  font-size: 70px;
}
