.movielist_container {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1000;
  height: 90%;
  width: 600px;
  background: linear-gradient(navy, black);
  overflow: scroll;
}

.image_container {
  padding: 10px;
  cursor: pointer;
  transition: all 200ms;
}

.image_container:hover {
  transform: scale(1.1);
}
